.view-mode {
  display: none;
}

.view-mode.active {
  display: block;
  padding: 0;
  text-align: left;
}

.horizontal-layout {
  display: block;
  min-width: max-content;
}

.horizontal-layout .siblings-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  align-items: flex-start;
  min-width: max-content;
}